@keyframes showBlock {
    0% {
        transform:translateY(-60px);
        opacity: 0;
    }
    100% {
        transform:translateY(0);
        opacity: 1;
    }
}
@keyframes showLeftVector {
    0% {
        transform: translate(-60px, -60px);
        opacity: 0;
    }
    100% {
        transform:translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes showRightVector {
    0% {
        transform: translate(60px, -60px);
        opacity: 0;
    }
    100% {
        transform:translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes rotateArrow {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}
