@keyframes rotateArrow {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateArrow {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}