@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
/* HEADER */
.header {
    width: 100vw;
    padding-top: 60px;
}
.header_logo {
    margin: 0 auto;
    width: 190px;
    height: 60px;
}
.logo {
    width: 100%;
    height: 100%;
}
/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.greeting_wrap {
    margin-top: 93px;
}
.greeting_title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(22, 44, 78, 0.39);
}
.greeting_info {
    width: 423px;
    height: 54px;
    margin: 8px auto 0 auto;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.timer_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 588px;
    height: 129px;
    margin-top: 32px;
}
.timer__item_wrap {
    position: relative;
}
.timer__item_wrap:not(:last-child)::after {
    content: ':';
    position: absolute;
    top: -22px;
    left: 134px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 72px;
    color: rgb(22, 44, 78);
}
.timer__item {
    width: 132px;
    height: 75px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    color: rgb(22, 44, 78);
}
.timer__item_bg {
    width: 132px;
    height: 54px;
    background: url('../assets/svg/timer-vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
}



.event_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 338px;
    height: 99px;
    margin-top: 72px;
}
.event_info {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8)
}
.event_link {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 60px;
    padding: 16px 0 0 28px;
    background-color: #1D4169;
    border-radius: 40px;
    text-decoration: none;
    transition: transform 0.8s;
}
.event_link:hover {
    transform: scale(103%);
}
.event_link-text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color:rgba(255, 255, 255, 1);
}
.event_link-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    background: url('../assets/svg/arrow-right.svg');
    background-size: contain;
}


/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 192px;
    background-color: rgba(22, 44, 78, 1);
}
.footer_form {
    position: relative;
}
.footer_form-input {
    width: 440px;
    height: 59px;
    padding: 0 55px 0 27px;
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}
.footer_form-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: rgba(223, 34, 36, 1);
    transition: transform 0.8s ease-out;
}
.footer_form-btn span {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 12px;
    background: url('../assets/svg/arrow-right.svg');
    background-size: contain;
}
.footer_form-btn:hover {
    cursor: pointer;
    /* transform: scale(110%); */
}
