@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Regular/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/SemiBold/Poppins-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Bold/Poppins-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Regular/Roboto-Regular.ttf');
    font-weight: 400;
}
