@media (max-width: 360px) {
    /* HEADER */
    .header {
        padding-top: 80px;
    }
    .header_logo {
        width: 128px;
        height: 40px;
    }
    /* MAIN */
    .greeting_wrap {
        margin-top: 66px;
    }
    .greeting_info {
        margin-top: 16px;
    }
    .timer_wrap {
        width: 310px;
    }
    .timer__item_wrap:not(:last-child)::after {
        top: -10px;
        left: 77px;
    }
    .event_wrap {
        margin-top: 40px;
    }
    /* FOOTER */
    .footer {
        height: 141px;
    }
    .footer_form-input {
        width: 280px;
    }
}