@media (max-width: 360px) {
    /* HEADER */
    .header {
        height: 120px;
    }
    .header_logo {
        width: 128px;
        height: 40px;
        margin-top: 80px;
    }
    /* FOOTER */
    .footer {
        height: 141px;
    }
    .footer_form-input {
        width: 280px;
    }
}